.root{
    -fx-background-color:  #383838;
}

.button {
    -fx-background-color: #7CAFC2;
    -fx-text-fill: whitesmoke;
    -fx-background-radius: 10px;
    -fx-font-size: 13px
}

.button:hover {
    -fx-background-color: whitesmoke;
    -fx-text-fill: #7CAFC2;
}

.button:pressed {
    -fx-background-color: whitesmoke;
    -fx-text-fill: #7CAFC2;
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

.label {
    -fx-text-fill: whitesmoke;
    -fx-font-size: 15px;
}

.check-box {
    -fx-text-fill: whitesmoke;
    -fx-font-size: 13px;
}

.alert {
    -fx-text-fill: whitesmoke;
    -fx-font-size: 13px;
}

.dialog-pane {
    -fx-background-color: #383838;
    -fx-text-fill: whitesmoke;    
}

.dialog-pane:header .header-panel {
    -fx-background-color: #383838;
}

#easy-button, #easygen-button {
    -fx-background-color: #A1B56C;
}

#easy-button:hover,
#easygen-button:hover {
    -fx-background-color: whitesmoke;
    -fx-text-fill: #A1B56C;
}

#intermediate-button, #intermediategen-button {
    -fx-background-color: #DC9656;
}

#intermediate-button:hover,
#intermediategen-button:hover {
    -fx-background-color: whitesmoke;
    -fx-text-fill: #DC9656;
}

#hard-button, #hardgen-button {
    -fx-background-color: #AB4642;
}

#hard-button:hover, 
#hardgen-button:hover {
    -fx-background-color: whitesmoke;
    -fx-text-fill: #AB4642;
}

#notfun-button, #exper-button {
    -fx-background-color: #181818;
}

#notfun-button:hover,
#exper-button:hover {
    -fx-background-color: whitesmoke;
    -fx-text-fill: #181818;
}

#info1-button, #info2-button, #infogen-button {
    -fx-background-radius: 100%;
    -fx-font-size: 12px;
    -fx-font-weight : bold ;
}